body.page-entityform-view {

  .field-name-field-status {
    .field-label,
    .field-items {
      @include breakpoint($break-small) {
        height: 30px;
        line-height: 32px;
      }
    }
    .field-label {
      @include breakpoint($break-small) {
        width: 227px;
      }
      @include breakpoint($break-medium) {
        width: 325px;
      }
    }
    .field-items {
      background-size: contain;
      background-position: 0 center;
      background-repeat: no-repeat;

      @include breakpoint($break-small) {
        padding-left: 25px;
      }
      @include breakpoint($break-medium) {
        padding-left: 30px;
      }
    }
  }

  @include breakpoint($break-small) {
    .field-status-draft .field-items  {
      background-image: url(../img/workflow/draft.svg);
    }
    .field-status-finished .field-items  {
      background-image: url(../img/workflow/finished.svg);
    }
    .field-status-validated .field-items  {
      background-image: url(../img/workflow/validated.svg);
    }
  }
}

body.page-eform-submit,
body.page-entityform-edit,
body.page-entityform-workflow {

  input[id^=edit-workflow] {
    padding-left: 45px;
    padding-right: 20px;
    margin-left: 10px;
    background-size: 20px;

    @include breakpoint($break-small) {
      margin-left: 15px;
    }
  }

  #edit-workflow-2 {
    background-image: url(../img/workflow/draft-white.svg);
  }
  #edit-workflow-3 {
    background-image: url(../img/workflow/finished-white.svg);
  }
  #edit-workflow-4 {
    background-image: url(../img/workflow/validated-white.svg);
  }

}

body.workflow-status-validated {
  #edit-workflow-2 {
    background-image: url(../img/workflow/update-white.svg);
  }
}

body.page-entityform-workflow #block-system-main .content {
  position: relative;
  padding-bottom: 40px;

  h2 {
    padding-top: 10px;
    padding-left: 10px;

    @include breakpoint($break-small) {
      padding-top: 20px;
      padding-left: 20px;
    }
  }

  .workflow-transition-entityforms-form {
    position: absolute;
    bottom: -60px;
    right: 0;
  }
}
